@import "tailwindcss";
@plugin "daisyui";

body {
  background-color: #f1f2f4;
  min-height: 100vh;
  min-width: 100vw;
  font-family: "Anek Bangla", sans-serif;
}

.bg-1 {
  background-color: #fff;
  padding: 4px;
  border-radius: 4px;
}




/* CSS */

